$main-bg-color: #fff;
$primary-bg-color: #037693;
$secondary-bg-color: #e8e8e8;
$dark-bg-color: #121111;

$main-text-color: #037693;
$primary-text-color: #fff;
$secondary-text-color: #2d2d2d;
$dark-text-color: #010101;
$muted-text-color: #f5f5f5;

$success-color: #4ca59a;
$danger-color: #f26250;
$warning-color: #f0a765;
