$screen-xl-min: 1860px;
$screen-lg-max: $screen-xl-min - 1px;
$screen-lg-min: 1200px;
$screen-md-max: $screen-lg-min - 1px;
$screen-md-min: 768px;
$screen-sm-max: $screen-md-min - 1px;
$screen-sm-min: 576px;
$screen-xs-max: $screen-sm-min - 1px;
