@import "../colors.scss";

.info-block {
  line-height: 1.2;

  &__title {
    margin-left: 6px;
  }

  &__subtitle {
    font-size: 47.5px;
    margin-left: 6px;
  }

  &__paragraph {
    margin-top: 40px;
    font-size: 27.5px;
    font-weight: 300;
  }
}
